<!DOCTYPE html>
<html>
  <head>
    <title>Team Picker</title>
    <link rel="stylesheet" type="" href="/stylesheets/bootstrap.min.css">

    <script src="/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
  </head>
  <body>

<header>
<nav class="text-primary navbar navbar-expand navbar navbar-light">
  <a href="/cohorts" class="navbar-brand text-primary">Super Team Picker</a>


  <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/cohorts" class="nav-link text-primary">Home</a>
            </li>
            
            <li class="nav-item">
              <a href="/cohorts" class="nav-link text-primary">Cohorts</a>
            </li>

            <li class="nav-item">
              <a href="/cohorts/new" class="nav-link text-primary">New Cohorts</a>
            </li>

           
        </li>

          </ul>
       
  </div>
</nav>
  </header>


  <main class="container-fluid">
    
